# https://git-scm.com/docs/gitignore

node_modules/
dist/
.DS_Store

.vagrant/
/vendor/
config/development.config.php
data/cache/*
data/mail/*
!data/cache/.gitkeep
composer.lock
.phpunit.result.cache
.idea/
npm-debug.log
yarn-error.log
.phpcs-cache
.env
public/blog
.phpunit*