@import "~bootstrap/scss/bootstrap";

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


/**
 Global level styples
 */
main > .container {
  padding: 60px 15px 0;
}

.blog-title {
    font-family: 'Quicksand', sans-serif;
}

p > img {
  width: 100%;
}

a {
  text-decoration: none;
}