// Override Bootstrap typography variables

$font-family-base: 'Quicksand', sans-serif;

$headings-font-family: 'Quicksand', sans-serif;

$headings-font-weight: 700;

$headings-color: $gray-800;

$h1-font-size: 4rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;
